<div class="container-fluid landing">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center jumbotron">
    <h1 class="display-4">Welcome to Pickled Movies!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="col-lg-2 offset-3 btn btn-lightgreen btn-lg" routerLink="/user/register" role="button">Sign up</a>
      <a class="col-lg-2 offset-2 btn btn-lightgreen btn-lg" routerLink="/user/login" role="button">Sign in</a>
    </p>
  </div>
</div>