/* You can add global styles to this file, and also import other style files */
.pickle-bg{
    background-image: url('/assets/pickles_bkg.png');
}
.btn-green{
    background-color: #8ec63f;
}
.btn-green:hover {
    background-color: #7eb92a;
}
.btn-lightgreen{
    background-color: #a3d55c;
    color: lightyellow
}
.btn-lightgreen:hover{
    background-color: #7eb92a;
}

